<div class="container">
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
  <p><%= @task.completed %></p>
  <%= link_to 'Tasks', tasks_path %>
  <%= link_to 'New', new_task_path %>
  <%= link_to 'Edit Tasks', edit_task_path(@task) %>
  <%= link_to "Delete #{@task.title}",
              task_path(@task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</div>
